{% extends '_base.html' %}
{% block title %} Book List {% endblock title %}
{% block content %}
<div>
    {% if book.cover %}
    <img class="cover" src="{{book.cover.url}}" alt="{{book.title}} cover">
    {% endif %}
    <h3>{{book.title}}</h3>
    <p>Author: <span class="lead">{{book.author}}</span></p>
    <p>Price: ${{book.price}}</p>
    <div>
        <h4>Reviews</h4>
        <ul>
            {% for review in book.reviews.all %}
            <li>{{review.review}} -({{review.author}})</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}